#container {
    height: auto;
    width: 1200px;
    background-color: lightgreen;
    margin: 50px;
    padding: 50px;
    border: .05px gold solid;

}

/*Navigation starts */
#nav-bar {
    height: 75px;
    width: 100%;
    color: white;
    font-size: 32px;
    margin: 100px;
    padding: 20px;

}



#nav-bar a {
    color: tomato;
} /*Navigation bars ends*/


/*Articles starts */
.articles {
    height: 300px;
    width: 355px;
    border: 1px crimson dotted;
    padding: 20px; 
    float: left;

}

.clear {
    clear: both;
}

/*Footer area starts */

#myFooter {
    background-color: tomato;
    width: 95%;
    height: 200px;
    color: black;
    text-align: center;
    padding: 25px;
    font-size: 25px;
    border-radius: 10px;
    margin-top: 10px;

} 

#myFooter p {

}


/*Footer area ends */